/* styles.css */

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-image: url(./Img/Portafolio.jpg);
    background-size: 100%;       /* Escala la imagen para cubrir todo el contenedor */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    background-color: #333;
    aspect-ratio: 16 / 9; /* O ajusta según tu imagen */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero-wrapper {
    position: relative;
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 10px;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #331741b7;
    filter: blur(10px);
    z-index: 0;
}

.hero-content {
    z-index: 1;
    color: aliceblue;
    font-size: 40px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.btn {
    position: fixed;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

h1{
    font-family: "Delius", cursive;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.sectionsContainer{
    padding: 1rem;
    background-color: #000000;
}

a {
    font-family: "Delius Swash Caps", cursive;
}

.cta-button {
    background-color: #636310cc;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 15px;
}

.cta-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* About Section */
#about {
    background-image: url(./Img/BannerFinal.jpg);
    padding: 50px 20px;
    background-color: #fff;
}

/* Projects Section */
#projects{
    padding: 50px 20px;
    background-color: #000000;
    color: #ddd;
}

/* Propiedades de proyectos colaborativos */
.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

h2{
    font-family: "Delius", cursive;
    color: #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}

.project-item {
    flex: 0 1 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.255);
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 25px;
}

.tituloSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.textoIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 2rem;
}

.imgGames{
    width: 50%;
}

.pharText{
      font-size: 35px;
}

#projectsDev{
    padding: 30px 20px;
    background-color: #658d7a;
    color: #ddd;
    /* background-size: 100%; */
}


#projectsOwn{
    padding: 30px 20px;
    background-color: #88658d;
    border-color: #b702cf70;
    color: #ddd;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.255);
}


#projectsJams{
    padding: 30px 20px;
    background-color: #65838d;
    color: #ddd;
    /* background-size: 100%; */
}

#projects h2 {
    font-size: 38px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}


h3{
    font-size: 40px;
    margin-bottom: 1rem;
    /* right: 1rem; */
    font-family: "DynaPuff", system-ui;
}

p{
    font-size: 17px;
    line-height: 1.5;
}

.inferior{
    margin-top: 2rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.CajaUno{
    margin-right: 1rem;
    margin-left: 1rem;
}

.profilePicture{
    width: 15%;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    background-color: #fff;
}

#contact form input, #contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

.izquierda {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profilePicture {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.derecha {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.derecha h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.derecha p {
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: center;
    align-self: center;
    max-width: 600px;
    margin-bottom: 0.8rem;
}

.endTxt{
    color: #333;
}

.endTxt.end{
    font-family: "Delius", cursive;
    font-size: 60px;
}



/* Estilos para menú hamburguesa en móvil */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Particle Styles */
#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
  }
  .particle {
    position: absolute;
    background: #eca6f1;
    border-radius: 100%;
    opacity: 1;
    box-shadow: 0 0 10px rgba(239, 235, 240, 0.934), 0 0 20px rgba(255, 255, 255, 0.726);
  }


  /* Onda */

  .wave-section {
    position: relative;
    height: 200px; /* ajusta como quieras */
    overflow: hidden;
    margin-top: -10rem;
    margin-bottom: -4rem;
  }

  .wave {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;

  }
